.kc-mission-card {
  margin: 2.4rem 0;
  box-sizing: border-box;
  padding: 1.5rem;
  width: 100%;
}

.kc-mission-card-inner {
  display: flex;
  gap: 2rem;
  align-items: flex-start;
}

.kc-mission-card-avatar-wrapper {
  width: 56px;
  height: 97px;
  overflow: hidden;
  border-radius: var(--primary-border-radius);
  flex-shrink: 0;
}

.kc-mission-card-avatar {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.kc-mission-card-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: var(--gap-xs);
}

.kc-mission-card-label {
  font-size: var(--kc-responsive-label-sm-text-size);
  font-weight: var(--font-700-weight);
  color: var(--kc-mapped-surface-accent-default);
  text-transform: uppercase;
  letter-spacing: var(--kc-responsive-caption-letter-spacing);
}

.kc-mission-card-desc {
  font-size: var(--font-body-small-size) line-height: 1.6;
}

.kc-mission-card-desc p,
.kc-mission-card-desc div,
.kc-mission-card-desc span {
  margin: 0;
  display: inline;
}

.kc-mission-card-highlight {
  font-size: var(--font-body-small-size);
  font-weight: var(--font-700-weight);
}

.kc-mission-card-highlight p,
.kc-mission-card-highlight div,
.kc-mission-card-highlight span {
  margin: 0;
  display: inline;
}

.kc-mission-card-author p,
.kc-mission-card-author div,
.kc-mission-card-author span {
  margin: 0;
  display: inline;
}